<p><%= t('.title') %> <%= @resource.email %>!</p>

<p><%= t('.content1') %></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p><%= link_to t('.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.content2') %></p>
<p><%= t('.content3') %></p>
